{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise - liste des joueurs participant à des tournois d'esport{% endblock %}

{% block body %}
    <h1>Liste joueurs</h1>

        <ul id="playersList">
            {% for player in players %}
                <li> 
                    <figure>
                        <img src="{{ asset('upload/pictures/' ~ player.picture) }}" alt="photo de {{player}}">
                        <figcaption>
                            <a href="{{ path('details_player', {'id': player.id}) }}">{{ player }}</a>
                        </figcaption>
                    </figure>
                    
                </li>
            {% endfor %}
        </ul>
{% endblock %}
