{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise - liste des équipes participant à des tournois d'esport{% endblock %}

{% block body %}

    <section id="teamsContainer">

        <h1>Liste d'équipes</h1>
    
            <ul id="teamsList">
                {% for team in teams %}
                    <li>
    
                        <figure class="teamLogo">
    
                            <a href="{{ path('details_team', {'id': team.id}) }}">
    
                                <img src="{{ asset('upload/logo/' ~ team.logo) }}" alt="Logo de {{ team }}">
    
                                <figcaption class="teamName">
    
                                    {{ team }}
    
                                </figcaption>
    
                            </a>
    
                        </figure>
    
                    </li>
                {% endfor %}
            </ul>

    </section>
{% endblock %}

