{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Esport Xpertise - Le site d'information sur l'esport{% endblock %}

    
{% block body %}

    {# this is the error message #}
    {% for message in app.flashes('warning') %}
        <p>
            {{message}}
        </p>
    {% endfor %}

    <h1>Bienvenue sur Esport Xpertise {{ app.user == '' ? '' : app.user }} </h1>

    <p>
        Bienvenue sur Esport Xpertise, un site pour les amateurs d’esport et pour ceux qui en font la découverte. Ici vous pourrez trouver des renseignements sur ce qu’est l’eSport mais aussi sur chaque équipe, chaque jeu ou encore chaque tournoi existant.
        {% if app.user %}

        {% else %}
            <a href="{{ path('app_register') }}">Inscrivez vous</a> pour faire des prédictions sur des matchs et inscrire votre nom parmi les meilleurs et, si vous le souhaitez, suivre votre équipe favorite.
        {% endif %} 
    </p>

    <div class="homeContent">

        <aside class="topUsers">
            {% include "topUsersList.html.twig" %}
        </aside>
    
        <article>
            <h2>Qu'est-ce que l'esport ?</h2>
            <p>
                L'esport désigne la compétiton entre des professionels du jeux vidéo.
            </p>
        </article>
    
        <aside class="topTeams">
            {% include "topTeamsList.html.twig" %}
        </aside>

    </div>
    

{% endblock %}
