<h1>Bonjour! Veuillez confirmer votre email s'il vous plaît!</h1>

<p>
    Veuillez, s'il vous plaît, cliquer sur le lien ci-dessous pour validé votre mail<br><br>
    <a href="{{ signedUrl|raw }}">Valider mon Email</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
