/******************************************************* DETAILS GAME ***************************************/
.gameCover{
    display: flex;
    justify-content: center;
}

.gameCover img{
    width: 80px;
    margin-right: 10px;
}

.gameCover figcaption{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.screenshots{
    width: 100%;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.swiper {
    width: 70%;
    height: 25vh;
    justify-content: center;
    position: relative;
    overscroll-behavior-y: auto;
}

.swiper .swiper-slide-next{
    filter: none;
    cursor: zoom-in;
    transform: none;
}

.swiper figure{
    filter: blur(5px);
    transform: translateZ(-74.7659px) rotateY(-29.9657deg);
    transform-style: preserve-3d;
}

.swiper img{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
}


/* Zoom the picture */
.modal {
    display: block;
    position: fixed;
    z-index: 999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 70%;
    max-height: 70%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.gameLinks{
    width: 100%;
    display: flex;
}

.purchaseLink{
    width: 50%;
    
}

/**************** Social Medias  ***************************/
.socialMediaGame{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMediaGame ul{
    width: 50%;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 3.5rem;
    gap: 20px;
    padding: 0;
}



/*****************************************************************GAMES LIST **********************************************************************************************/
#gameList {
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

#gameList figure{
    width: calc(24% - 10px);
    /* width: 24%; */
    margin: 0;
}

#gameList img{
    width: 100%;
}