/***********************************************HOME PAGE********************************************/
.homeContent{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 2em;
}

.homeContent h2{
    text-align: center;
    padding-bottom: 2em;
}

.informationsContained{
    width: 60%;
    padding: 2em;
    text-align: center;
}

.esportDescription{
    text-align: center;
    font-size: 2em;
    padding-bottom: 2em;
}

/**********Background pic ******************************/
.backgroundPic {
    /* 
    Super propriété background permet de combiner background-image, repeat et position
    */
    background: url(../img/homeBackground.jpg) no-repeat center;
    background-attachment: fixed;
    /* 
    Permet de définir si l'image de fond défile par rapport au document ou si elle reste fixée au fond
    */
    background-size:cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}

.backgroundPicText {
    width: 50%;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

.backgroundPicText h1{
    padding-bottom: 1em;
    font-size: 3em;
    color: #DBF0FA;

}

.backgroundPicText p {
    font-size: 2em;
    text-align: center;
}

.backgroundPicText a {
    color: #fff;
}


/************Tournaments **********************************/
#tournament-list {
    width: 700px;
    margin: 0 auto;
}

#tournament-list h2{
    margin-top: 2em;
}

.tournamentsToDisplay{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.tournamentFigures{
    width: 300px;
    position: relative;

}

.tournamentName{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;
    color: #fff;
}

.tournamentGameCover {
    width: 100%; 
    border-radius: 10px;
    box-shadow: 2px #2a2a2e;
}

.tournamentGameCover i {
    position: absolute;
    right: 3%;
    transition: 0.3s;
}

.tournamentDetailsHome {
    padding: 15px;
    display: none;
    background: #DBF0FA;
    margin-top: 0;
    color: #455;
    border-radius: 10px;
}

/* .active {
    color: blue;
    font-weight: bold;
}

.active i {
    transform: rotate(90deg);
}

.tournamentListHome {
    /* display: none;
    list-style: none;
}*/

.keywords{
    color: #fff;
}

.buttonBlue{
    text-decoration: none;
    background-color: #DBF0FA;
    text-align: center;
    padding: 1em;
    color: #666;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
}

/************************************************* RESPONSIVE ************************************************************/
@media only screen and (max-width : 440px) {

    .backgroundPic{
        height: auto;

    }

    .backgroundPicText{
        padding: 1em;
        font-size: 0.8em;
        width: 100%;
    }

    .homeContent{
        padding: 1em;
    }

    .informationsContained{
        width: 100%;
        padding: 0;
    }

    .homeContent h2 {
        font-weight: 800;
        font-size: 1.67em;
    }

}