/********************************************** PLAYER'S DETAILS ******************************************************/
.playerSentence{
    display: flex;
    width: 100%;
}

.playerNationality{
    display: flex;
    margin: 0;
    gap: 5px;
}

.playerNationality img{
    width: 20px;
}

/********************************************* FORM ****************************************************/
.selected{
    display: flex;
}

#countryBoxes{
    display: flex;
    flex-wrap: wrap;
}

#countryBoxes input{
    margin-right: 5px;
}

#countryBoxes label{
    margin-right: 20px;
}