* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

.red{
    color: red;
}

.green{
    color: green;
}

.hide{
    display: none;
}


.logoSite{
    margin: 0;
}

.logoSite img{
    width: 95.5px;
    border-radius: 10px;
}

/****************************************************** HEADER *****************************************************/
#siteHeader{
    width: 100%;
    height: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

#siteHeader nav{
    width: 70%;
    height: 5vh;
    background-image: url(../img/4d3uKwt812GoqIOoWCaUcKG.jpg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}

#siteName{
    margin: 0;
    font-weight: 600;
}

.navBar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

#siteHeader ul li{
    list-style: none;
}

#siteHeader a{
    text-decoration: none;
    font-size: large;
    color: rgb(9, 9, 49);
    font-weight: bold;

}

/* this is how the header's a will behave themselves when a user passes over it */
#siteHeader a:hover{
    color: blue;
    font-size: larger;
}

.dropdown-menu{
    background-image: url(../img/4d3uKwt812GoqIOoWCaUcKG.jpg);
    min-width: 9rem;
}

.userProfilePicture{
    margin: 0;
}

.userProfilePicture img{
    width: 35px;
    border-radius: 50%;
}

/****************************************** FOOTER *************************************************************/
#siteFooter{
    width: 100%;
    height: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#siteFooter p{
    margin: 0;
}

.socialMedia{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .socialMedia a{
    color: #131D74;
} */

.socialMedia a i{
    font-size: 3.5rem;
}

.socialMedia a:hover{
    color: #5D628E;
}

/********************************************************* MAIN ************************************************/
#siteMain{
    width: 100%;
    height: auto;
    min-height: 80vh;
    background-image: url(../img/4d3uKwt812GoqIOoWCaUcKG.jpg);
}

#container{
    width: 100%;
    margin: 0;
    padding: 10px;
    height: auto;
    min-height: 80vh;
}

h1{
    width: 100%;
    text-align: center;
    margin: 0;
}



/**************************************** Top Users and Teams templates ********************************************/
ol{
    padding: 0;
    margin: 0;
}

.topUsers,
.topTeams{
    /* background-color: #edf7fb; */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(140,203,233,1) 100%);
    width: auto;
    height: auto;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.topUsers ol,
.topTeams ol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

/*********************************DELETE AND MODIFY BUTTONS ****************************************/
.deleteOrEditButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}


/*********************************** SOCIAL MEDIAS COLORS ************************************************/
.socialMediaFacebook i{
    color: #4267B2;
}

.socialMediaTwitter i{
    color: #14171A;
}

.socialMediaYoutube i{
    color: #FF0000;
}

.socialMediaTwitch i{
    color: #9146ff;
}

.socialMediaLinkedIn i{
    color: #0077B5;
}

.socialMediaGithub i{
    color: #333;
}

.socialMediaInstagram i{
    color: #fff;
    background: radial-gradient(
            circle farthest-corner at 28% 100%,
            #fcdf8f 0%,
            #fbd377 10%,
            #fa8e37 22%,
            #f73344 35%,
            transparent 65%
        ), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%)
    ;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 3px;
}

.socialMediaTiktok i{
    color: #000;
    filter: drop-shadow(-3px -2px #00f2ea) drop-shadow(3px 2px #ff0050);
}

/* form */
form{
    background-color: #fff;
    margin: 5em;
    padding: 5em;
    border-radius: 10px;
}