* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    background: radial-gradient(circle, rgba(130,143,160,1) 1%, rgba(118,134,157,1) 73%, rgba(24,40,84,1) 100%);

}

.red{
    color: red;
}

.green{
    color: green;
}

.hide{
    display: none;
}


.logoSite{
    margin: 0;
}

.logoSite img{
    width: 95.5px;
    border-radius: 10px;
}

/****************************************************** HEADER *****************************************************/
#siteHeader{
    width: 100%;
    height: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

#siteHeader article{
    width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;
}

#menuNav{
    width: 70%;
    height: 5vh;
    background-image: url(../img/4d3uKwt812GoqIOoWCaUcKG.jpg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}

#siteName{
    margin: 0;
    font-weight: 600;
    color: #DBF0FA;
}

#navBar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

#siteHeader ul li{
    list-style: none;
}

#siteHeader a{
    text-decoration: none;
    font-size: large;
    color: rgb(9, 9, 49);
    font-weight: bold;

}

/* this is how the header's a will behave themselves when a user passes over it */
#siteHeader a:hover{
    color: #fff;
    font-size: larger;
}

.dropdown-menu{
    background-image: url(../img/4d3uKwt812GoqIOoWCaUcKG.jpg);
    min-width: 9rem;
}

.userProfilePicture{
    margin: 0;
}

.userProfilePicture img{
    width: 35px;
    border-radius: 50%;
}

#menuButton{
    display: none;
}

/****************************************** FOOTER *************************************************************/
#siteFooter{
    width: 100%;
    height: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

#siteFooter p{
    width: 60%;
    margin: 0;
    color: #fff;
    font-size: 1.5em;
}

#siteFooter a{
    color: #fff;
}

.socialMedia{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .socialMedia a{
    color: #131D74;
} */

.socialMedia a i{
    font-size: 3.5rem;
}

.socialMedia a:hover{
    color: #5D628E;
}

/********************************************************* MAIN ************************************************/
#siteMain{
    width: 100%;
    height: auto;
    min-height: 80vh;
}

#container{
    width: 100%;
    margin: 0;
    /* padding: 10px; */
    height: auto;
    min-height: 80vh;
}

h1{
    width: 100%;
    text-align: center;
    margin: 0;
    font-weight: 700;
}



/**************************************** Top Users and Teams templates ********************************************/
ol{
    padding: 0;
    margin: 0;
}

.topUsers,
.topTeams{
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(140,203,233,1) 100%);
    min-width: 400px;
    width: auto;
    height: auto;
    min-height: 50vh;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 2em;
    padding: 2em;
}

.topUsers h4,
.topTeams h4{
    text-align: center;
}

.topUsers a,
.topTeams a{
    color: #333;
    text-decoration: none;
}

.topUsers ol,
.topTeams ol{
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* justify-content: center; */
    gap: 1em;
    padding: 30px;
    font-size: 1.5em;
}

/*********************************DELETE AND MODIFY BUTTONS ****************************************/
.deleteOrEditButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}


/*********************************** SOCIAL MEDIAS COLORS ************************************************/
.socialMediaFacebook i{
    /* color: #4267B2; */
    color: #fff;
}

.socialMediaTwitter i{
    /* color: #14171A; */
    color: #fff;
}

.socialMediaYoutube i{
    /* color: #FF0000; */
    color: #fff;
}

.socialMediaTwitch i{
    /* color: #9146ff; */
    color: #fff;
}

.socialMediaLinkedIn i{
    /* color: #0077B5; */
    color: #fff;
}

.socialMediaGithub i{
    /* color: #333; */
    color: #fff;
}

.socialMediaInstagram i{
    color: #fff;
    /* background: radial-gradient(
            circle farthest-corner at 28% 100%,
            #fcdf8f 0%,
            #fbd377 10%,
            #fa8e37 22%,
            #f73344 35%,
            transparent 65%
        ), linear-gradient(145deg, #3051f1 10%, #c92bb7 70%)
    ;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 3px; */
}

.socialMediaTiktok i{
    /* color: #000;
    filter: drop-shadow(-3px -2px #00f2ea) drop-shadow(3px 2px #ff0050); */
    color: #fff;
}

/* form */
form{
    background-color: #fff;
    margin: 5em;
    padding: 5em;
    border-radius: 10px;
}



/************************************************* RESPONSIVE ************************************************************/
@media only screen and (max-width : 440px) {

    /************************************HEADER *******************************************/

    #siteHeader{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }

    #siteHeader article{
        width: 100%;
        justify-content: space-between;
        padding: 1em;

    }

    .responsiveHide,
    #siteHeader h2{
        display: none;
    }

    #menuButton{
        display: block;
        width: 100px;
        height: 40px;
        border-radius: 10px;
        background: radial-gradient(circle, rgba(130,143,160,1) 1%, rgba(118,134,157,1) 73%, rgba(24,40,84,1) 100%);
        color: #fff;
    }

    #menuNav{
        width: 100%;
        height: auto;
        background: radial-gradient(circle, rgba(130,143,160,1) 1%, rgba(118,134,157,1) 73%, rgba(24,40,84,1) 100%);
    }

    #navBar{
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 10px;
        font-size: 2em;
        
    }

    #navBar a{
        font-size: .79em;
        
    }

    #siteHeader a:hover{
        font-size: large;
    }

    /*************************************FOOTER ************************************************/
    #siteFooter {
        gap: 50px;
        padding: 1em;
        flex-direction: column;
    }

    #siteFooter p,
    #siteFooter a{
        font-size: 1.2em;
        text-align: center;
    }

    .socialMedia {
        width: 100%;
    }

    #tournament-list {
        width: 100%;
    }


}