* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

.hide{
    display: none;
}


.logoSite{
    margin: 0;
}

.logoSite img{
    width: 95.5px;
}

/****************************************************** HEADER *****************************************************/
#siteHeader{
    width: 100%;
    height: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#siteHeader nav{
    width: 70%;
    height: 5vh;
    background-color: #DBF0FA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 5px;
}

#siteName{
    margin: 0;
}

.navBar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

#siteHeader ul li{
    list-style: none;
}

#siteHeader a{
    text-decoration: none;
    font-size: large;
    color: #333;
}

/* this is how the header's a will behave themselves when a user passes over it */
#siteHeader a:hover{
    color: blue;
    font-size: larger;
}

.dropdown-menu{
    background-color: #DBF0FA;
    min-width: 9rem;
}

.userProfilePicture{
    margin: 0;
}

.userProfilePicture img{
    width: 35px;
    border-radius: 50%;
}

/****************************************** FOOTER *************************************************************/
#siteFooter{
    width: 100%;
    height: auto;
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#siteFooter p{
    margin: 0;
}

.socialMedia{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialMedia a{
    color: #131D74;
}

.socialMedia a i{
    font-size: 3.5rem;
}

.socialMedia a:hover{
    color: #5D628E;
}

/********************************************************* MAIN ************************************************/
#siteMain{
    width: 100%;
    height: auto;
    min-height: 80vh;
}

#container{
    width: 100%;
    margin: 0;
    padding: 10px;
}

h1{
    width: 100%;
    text-align: center;
    margin: 0;
}
