/********************************************** Tournament Form *******************************************************/
.doubleElimination,
.swiss,
.roundRobin,
.openSignUpOn{

    display: none;

}

.singleElimination{

    display: block;
    
}

.tournamentMatches{
    /* border: 1px solid #999;
    border-radius: 10px;
    border-collapse: unset; */
    width: 900px;
    background-color: #fff;
    border-radius: 10px;
    align-self: center;
}

.tournamentTableColumnTitle th{
    text-align: center;
}

.tableTitle{
    width: 100%;
    background-color: #DBF0FA;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.tournamentMatches tbody tr{
    border-bottom: 1px dotted #999;
    border-radius: 10px;
}

.tournamentMatches tbody td
{
    padding: 10px 0;
    text-align: center;
    width: 20%;
}

#tournamentContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

#participantsList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#participantsList li{
    width: 20%;
    list-style: none;
}

.participantLogo{
    width: 100%;
    position: relative;
}

.participantLogo img{
    width: 100%;
}

#searchTeamInput,
#textTeamHint{
    margin-bottom: 2em;
}
/*******************************************Tournament list *********************************************************/


#tournamentsList{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 2em;
}

#tournamentsList li{
    width: 30%;
    list-style: none;
}

#tournamentsList figure{
    width: 100%;
    position: relative;
}

#tournamentsList figure img{
    width: 100%;
}

#tournamentsList figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    padding: 1em;
}

#tournamentsList figcaption a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

/*****Form****/
#textGameHint,
#numberPlayer,
#searchGameInput{
    margin-bottom: 1em;
}
