/********************************************** Tournament Form *******************************************************/
.doubleElimination,
.swiss,
.roundRobin,
.openSignUpOn{

    display: none;

}

.singleElimination{

    display: block;
    
}

.tournamentMatches{
    /* border: 1px solid #999;
    border-radius: 10px;
    border-collapse: unset; */
    width: 900px;
}

.tournamentTableColumnTitle th{
    text-align: center;
}

.tableTitle{
    width: 100%;
    background-color: #DBF0FA;
    border-radius: 10px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.tournamentMatches tbody tr{
    border-bottom: 1px dotted #999;
    border-radius: 10px;
}

.tournamentMatches tbody td
{
    padding: 10px 0;
    text-align: center;
    width: 20%;
}

/*******************************************Tournament list *********************************************************/
.tournamentsList {
    list-style: none;
}
.tournamentsList a{
    text-decoration: none;
    color: #DBF0FA;
    font-size: 2em;
}

.tournamentsList a:hover{

    color: rgb(9, 9, 49);
}