{% extends 'base.html.twig' %}

{% block title %}Ajoutez un Pays !{% endblock %}

{% block body %}
        
    {# if the var edit is set it means we are in a modify form not in an add one so we adjust the title #}
    {% if edit %}
        <h1>Modifier {{ edit }}</h1>
    {% else %}
        <h1>Ajouter un Pays !</h1>
    {% endif %}

    <p><a target="_blank" href="https://flagsapi.com/">Prendre ici le code du pays</a></p>
    <p>a placer dans le drapeau (code pays a remplacer !) : https://flagsapi.com/{CodePays}/shiny/64.png</p>
        
    {# First form is the FUNCTION the second one is the var creates in the controller #}
    {{ form(form) }}
   
{% endblock %}