{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise - liste des jeux ayant une competition d'esport{% endblock %}

{% block body %}
    <h1>Liste de jeux</h1>

        <ul>
            {% for game in games %}
                <li>
                    <a href="{{ path('details_game', {'name': game}) }}">{{ game }}</a>

                </li>
            {% endfor %}
        </ul>
{% endblock %}
