{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1>List of Games</h1>

        <ul>
            {% for game in games %}
                <li>
                    <a href="{{ path('app_api', {'name': game.name}) }}">{{ game.name }}</a>

                </li>
            {% endfor %}
        </ul>
{% endblock %}
