{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise - liste des jeux ayant une competition d'esport{% endblock %}

{% block body %}

    {# {{ dump(games) }} #}
    <h1>Liste de jeux</h1>

    <article id="gameList">

        {% for game in games %}
    
            {% if game.isVerified %}
                
                <figure>
    
                    <a href="{{ path('details_game', {'name': game }) }}">
    
                        <img src="{{ game.cover }}" alt="Couverture du jeu {{ game }}">
    
                    </a>
    
                </figure>
    
                
    
            {% endif %}
    
        {% endfor %}

    </article>
       
        
{% endblock %}
