{% extends 'base.html.twig' %}

{% block title %}Hello TournamentController!{% endblock %}

{% block body %}
    <h1>Liste des tournois en esport</h1>

    <ul id="tournamentsList">
        {% for tournament in tournaments %}
            <li>
                <a href="{{ path('details_tournament', {'id': tournament.id}) }}">{{ tournament }}</a>    
            </li>
        {% endfor %}
    </ul>
{% endblock %}
