{% extends 'base.html.twig' %}

{% block title %}Ajoutez une nouvelle équipe !{% endblock %}

{% block body %}
        
    {# if the var edit is set it means we are in a modify form not in an add one so we adjust the title #}
    <h1>Ajouter une nouvelle équipe !</h1>
    
        
    {# First form is the FUNCTION the second one is the var creates in the controller #}
    {{ form_start(form) }} 

    {{ form_end(form) }}
   
{% endblock %}