{% extends 'base.html.twig' %}

{% block title %}Ajoutez un nouveau tournoi !{% endblock %}

{% block body %}
        
    {# if the var edit is set it means we are in a modify form not in an add one so we adjust the title #}
    <h1>Ajouter un nouveau tournoi !</h1>
    
        
    {# First form is the FUNCTION the second one is the var creates in the controller #}
    {{ form_start(form) }} 
    
        <label> Sur quel jeu se joue le tournoi ?</label>
        {% include "searchbarGame.html.twig" %}
    {{ form_end(form) }}
   
{% endblock %}