{# html necessary for my forms to add a team #}
<input id="searchTeamInput" class="form-control" type="search" placeholder="Rechercher une équipe">

<label for="textTeamHint" id="labelSelectTeam" class="hide">Selectionner l'équipe</label>
<select id="textTeamHint" name="team" class="hide form-control">

</select>
