{# html necessary for my forms to add a country #}
<input id="searchGameInput" name="searchGameInput" class="form-control" type="search" placeholder="Rechercher un jeu">

<label for="textGameHint" id="labelSelectGame" class="hide">Selectionnez le jeu</label>
<select id="textGameHint" name="game" class="hide form-control">

</select>
