{# html necessary for my forms to add a country #}
<input id="searchInput" class="form-control" type="search" placeholder="Rechercher un pays">

<label for="textHint" id="labelSelectCountry" class="hide">Selectionner le pays</label>
<select id="textHint" name="country" class="hide form-control">

</select>
