<h4>Top 10 des équipes les plus suivies :</h4>

<ol>
    {# loop to take the teams in the data base limited at 10 needed and the sort allows me to sort the teams by  #}
    {% for team in teams|sort((a, b) => b.users|length <=> a.users|length)|slice(0, 10) %}
        <li>
            {{ team.users|length }} <i class="fa-solid fa-users"></i> || <a href="{{ path('details_team', {'id': team.id}) }}">{{ team }}</a> 
        </li>
    {% endfor %}

</ol>