<h4>Top 10 des utilisateurs :</h4>

<ol>
    {% for user in users %}
        <li>
            {{ user.siteCoins }} <i class="fa-solid fa-coins" style="color: #f2d40d;"></i> ||
            {{ user }}
        </li>
    {% endfor %}
</ol>