{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise  -  Modification de l'utilisateur{% endblock %}

{% block body %}
    <h1>Formulaire de modification de l'utilisateur</h1>

    {# this is the error message #}
    {% for message in app.flashes('warning') %}
        <p>
            {{message}}
        </p>
    {% endfor %}

    {{form(form)}}



{% endblock %}