{% extends 'base.html.twig' %}

{% block title %}Esport Xpertise  -  Modification de l'utilisateur{% endblock %}

{% block body %}
    <h1>Formulaire de modification de l'utilisateur</h1>

    {{form(form)}}



{% endblock %}